BASE_URL=https://your-primary-site.example.com
BASE_URL_2=https://your-secondary-site-1.example.com
BASE_URL_3=https://your-secondary-site-2.example.com
BASE_URL_4=https://your-secondary-site-3.example.com
